table {
  width: 180%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: auto;
  }
  
th,td{
  height: 70px;
  padding: 15px;
  word-wrap:break-word;
  
     }
     
tr:hover{
   background-color: coral;
   }
