<html>
<head>
  <link rel="stylesheet" href="./static/basic_style.css">
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
<title> validate </title>
 
<body>
<div class = "header">
<h1> Welcome to Patent-Bridge </h1>
<p> An automated tool for extracting patent sequences </p>
</div>
 
<div id = "navbar">
<a href="javascript:void(0)"> Home </a>
<a class="active" href="javascript:void(0)"> Analyze and Annotate </a>
<a href="javascript:void(0)"> Validate</a>
</div>
 
<h3> Selected Patent ID: {{user}} </h3>
<br>
<form method = "post">
 
<h3> Paste sequence manually: </h3>
<input type = "text" name = "seq" size = "100" style="width: 80%;height: 100px;"></input>
<input type="submit" value="Validate for Processed Data" name="action1" />
<input type="submit" value="Validate for Unprocessed Data" name="action2" />
 
</form>
 
</body>
</html>
